[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==0.12.1"
sqlalchemy = "*"
sqlalchemy-utils = "*"
psycopg2 = "==2.7.5"
psycopg2-binary = "==2.7.5"
flask-sqlalchemy = "*"
cloudinary = "*"
flask-cas = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
