<!DOCTYPE html>
<html class="no-js" lang="en">
<body style="background-color:#333333;">
    <head>
        <title>OrangePages</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet"/>
    </head>

{% include 'navbar.html' %}
{% include 'footer.html' %}

    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">
            {{message}}
            <br>
            <a href='/test'> back to test homepage </a>
        </p>
    </div>