
<h1> make a post </h1>

<form action="create-post" method="post">
         <table>
            <tr>
               <td>post content: </td>
               <td>
                  <input type="text" name="content">
               </td>
            </tr>
            <tr>
               <td>tags:</td>
               <td><input type="text" name="tags"></td>
            </tr>
            <tr>
               <td></td>
               <td><input type="submit" value="Submit"></td>
            </tr>
         </table>
      </form>
