<!DOCTYPE html>
<html class="no-js" lang="en">

<body style="background-color:#333333;">

    <head>
        <title>{{user.firstname}} {{user.lastname}} - Orange Pages</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
         <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet"/>
    </head>

    {% include 'navbar.html' %}





<!--

    here's where jamie started adding testing garbage

-->


<br>

<p style="color:white"> THIS IS THE BACKEND TESTING VERSION OF PROFILE </p>
<a href='/test/feed'> back to test feed </a><br>
<a href='/test/edit-user'> edit your own profile </a><br>
<a href="/test/logout"> log out </a>

<br>





<!-- end garbage -->







    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card mt-4 mb-4 ml-4">
                    <div class="card-body text-center">
                        {%if user._pic is none:%}
                        <i class="fa fa-user fa-5x"></i>
                        {%else:%}
                        <img src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_80,w_80,g_face,r_10/{{user._pic}}.png' alt="failed to load">
                        {%endif%}
                        <h3 class="card-title">{{user.firstname}} {{user.lastname}}</h3>
                        <p class="card-text">{{user.uid}}
                            <hr>
                        </p>
                        <a class="nav-link" href="#">
                            <i class="fa fa-user-plus"></i>
                            <span class="sr-only">(current)</span>
                            add friend
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fa fa-paper-plane"></i>
                            <span class="sr-only">(current)</span>
                            email {{user.firstname}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-4 mb-4 mr-4">
                    <div class="card-header">
                        <h4>Details about {{user.firstname}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Basic info</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>puid:</td>
                                    <td>{{user.uid}}</td>
                                </tr>
                                <tr>
                                    <td>email:</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>year:</td>
                                    <td>{{user.year}}</td>
                                </tr>
                                <tr>
                                    <td>major:</td>
                                    <td>{{user.major}}</td>
                                </tr>
                                <tr>
                                    <td>hometown:</td>
                                    <td>{{user.hometown}}</td>
                                </tr>
                                <tr>
                                    <td>state:</td>
                                    <td>{{user.state}}</td>
                                </tr>
                                <tr>
                                    <td>country:</td>
                                    <td>{{user.country}}</td>
                                </tr>
                                <tr>
                                    <td>room:</td>
                                    <td>{{user.room}}</td>
                                </tr>
                                <tr>
                                    <td>building:</td>
                                    <td>{{user.building}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <body>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>