<!DOCTYPE html>
<html lang="en">

<body>

  <head>
    <title>Orange Pages | Feed</title>
    <meta name="viewport" content="width=device-width,
                    initial-scale=1">
    <!-- <meta http-equiv="refresh" content="20" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
      type="text/css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css" />
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/feed.js"></script>
  </head>

  <!-- Everything goes in a wrapper -->
  <div class="wrapper">

    {% include 'sidebar.html' %}

    <div id="content">
      {% include 'navbar.html' %}

      <div class="col">
      </div>
      <div class="col" style="width: 650px; float: none; margin: 0 auto;">

        <!-- Make a post -->
        <div class="col" id="main">
          <form action="create-post" method="post" enctype="multipart/form-data">
            <div class="post-card card border-left-20 border-right-20 border-top-0 rounded-0"
              style="margin-bottom: 10px;">
              <div class="container-fluid">


                <div class="row">
                  <!-- Profile photo -->
                  <div class="col" style="padding-top: 10px; -ms-flex: 0 0 40px; flex: 0 0 40px;">
                    {%if user._pic is none:%}
                    <i class="fa fa-user feed-profile rounded-circle"></i>
                    {%else:%}
                    <img class="feed-profile rounded-circle"
                      src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{user._pic}}.png'
                      alt="failed to load">
                    {%endif%}
                  </div>

                  <!-- Post input -->
                  <div class="col" style="padding: 10px">
                    <textarea name="content" class="make-post form-control border-0" id="message" rows="3"
                      placeholder="Write a post..."></textarea>
                  </div>
                </div>

                <!-- Tags -->
                <div class="row" style="padding-bottom: 5px">
                  <div class="col mb-1 collapse" id="tagsCollapse">
                    <input name="tags" id="form-tags-5" class="form-control noEnterSubmit"></input>
                  </div>
                </div>

                <div class="row">
                  <!-- Upload an image -->
                  <!-- <div class="col">
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <div class="custom-file">
                        <input type="file" class="post-file-input" onchange='loadFile(event)' name="image"
                          id="customFile">
                        <label class="post-file-label" for="customFile"><i class="fas fa-image"></i></label>
                        <img id='uploaded' width="100" />
                      </div>
                    </div>
                  </div> -->

                  <div class="col">
                    <!-- (NEW) Upload image input. TODO: make this work -->
                    <div class="input-group-append">
                      <label for="upload" class="btn btn-light m-0 rounded-pill px-4 upload-image" id="post-button">
                        <i class="fa fa-cloud-upload text-muted"></i>
                        <span><small class="text-muted">Upload Image</small></span>
                      </label>
                    </div>
                  </div>
                  <!-- This needs to be here in order for upload to work -->
                  <input id="upload" type="file" onchange="readURL(this);" style="display: none">

                  <!-- Add tags -->
                  <div class="col">
                    <button class="btn btn-light m-0 rounded-pill px-4 upload-image" id="post-button" type="button"
                      data-toggle="collapse" data-target="#tagsCollapse" aria-expanded="false"
                      aria-controls="tagsCollapse"><i class="fas fa-hashtag text-muted"></i>
                      <span><small class="text-muted">Add Tags</small></span>
                    </button>
                  </div>

                  <div class="col">
                    <div class="btn-group" style="width:100%">
                      <select name="visibility" class="form-control" id="visibility">
                        <option>Public</option>
                        <option>Friends</option>
                        <option>Just me</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col" style="margin-left: 20px; margin-right: 20px; margin-top: -10px">

                  <!-- (NEW) Uploaded image area-->
                  <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                      class="img-fluid rounded shadow-sm mx-auto d-block"></div>

                </div>
              </div>

              <div class="row">

                <div class="col" style="margin: 10px">
                  <button type="submit" class="btn btn-primary tag-pill" style="width: 100%">Share</button>
                </div>
              </div>

          </form>
        </div>


        <!-- <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>

        There will be a create post button here
        ALSO I'M STILL WORKING ON EVERYTHING
        Hopefully it will look good soon -->
        <!-- TODO: if no posts, display a message -->
        {% if not posts: %}
        {% endif %}


        {% for post in posts: %}
        <div class="post-card card border-left-20 border-right-10 rounded-0" style="margin-bottom: 10px;">
          <div class="container-fluid">
            <div class="row">
              <!-- Profile photo -->
              <div class="col" style="padding-top: 10px; -ms-flex: 0 0 40px; flex: 0 0 40px;">
                {%if user._pic is none:%}
                <i class="fa fa-user feed-profile rounded-circle"></i>
                {%else:%}
                <img class="feed-profile rounded-circle"
                  src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{post.creator._pic}}.png'
                  alt="failed to load">
                {%endif%}
              </div>

              <div class="col">

                <div class="row">

                  <!-- User and netid -->
                  <div class="col" style="padding-top: 10px">
                    <a href='profile/{{ post.creator.uid }}' class="post-title">{{post.creator.firstname}}
                      {{post.creator.lastname}} <h6 class="post-subtitle"> @{{post.creator.uid}} </h6> </a>
                  </div>

                  <!-- Time elapsed -->
                  <div class="col" style="padding-top: 10px; -ms-flex: 0 0 80px; flex: 0 0 80px;">
                    <div class="post-subtitle">
                      <i class="fas fa-clock"></i>
                      <script type="text/javascript">
                        getTimeAgo("{{ post.date }}");
                      </script>
                    </div>

                  </div>
                </div>

                <!-- Content -->
                <div class="row">
                  <div class="col">
                    <div class="post-text mb-1">
                      {{post.content}}
                    </div>
                    <a href={{post.get_img()}}><img src="{{post.get_img()}}" width="100%"></a>
                    {% if post.tags|length %}
                    {% for tag in post.tags: %}
                    <button type="button" onclick="location.href='/search?query={{ tag.tid }}'"
                      class="btn btn-primary btn-sm tag-pill text-truncate" style="outline: none">
                      #{{ tag.tid }}
                    </button>
                    {% endfor %}
                    {% endif %}
                  </div>

                </div>

                <div class="row" style="padding-top: 3px">
                  <div class="col" style="padding-bottom: 5px">
                    {% if user.liked_post(post.pid) %}
                    <a href="{{ url_for('post_page.like', post_id=post.pid, isLike=False) }}" class="card-link">
                      <i class="fas fa-heart"></i> {{post.likes|length}}
                    </a>
                    {% else %}
                    <a href="{{ url_for('post_page.like', post_id=post.pid, isLike=True) }}" class="card-link">
                      <i class="far fa-heart"></i> {{post.likes|length}}
                    </a>
                    {% endif %}
                    <a href='post/{{ post.pid }}' class="card-link"><i class="fa fa-comment"></i>
                      {{post.get_comments()|length}}</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
        <div class="post-card card border-left-20 border-bottom-20 border-right-10 rounded-0"
          style="border-bottom-width: 10px;">
        </div>
      </div>
    </div>

  </div>

</body>

<body>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="/static/js/sidebar.js"></script>
  <script src="/static/js/tags.js"></script>
  <script src="/static/js/upload.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

  <script>
    var loadFile = function (event) {
      var image = document.getElementById('imageResult');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

  <script>
    document.getElementById('Home').className = 'active';
  </script>

</body>

</html>