<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,
                            initial-scale=1">
</head>

<body class="index-body">

    <head>
        <title>Orange Pages Home</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/welcome-page.css" type="text/css" />
    </head>
    <div class="row h-100">
        <div class="col-md-6 h-100">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="row align-items-center" style="display: flex; height: calc(100% - 140px)">
                <div class="col" style="text-align: center">
                    <p style="color:white; font-size:150%; padding: 20px; font-weight: bold;">
                        The easiest way to find and connect with other Princeton undergraduate students.</p>
                    <p style="color:white; font-size:130%; font-weight: bold;">
                        <i class="fa fa-search"></i> Search for posts and other students' profiles.</p>
                    <p style="color:white; font-size:130%; font-weight: bold;">
                        <i class="fa fa-heart"></i> Find friends and make new connections.</p>
                    <p style="color:white; font-size:130%; font-weight: bold;">
                        <i class="fa fa-users"></i> Share information and promote events.</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 bg-light h-100">
            <div class="row align-items-center" style="display: flex; height: calc(100% - 130px)">
                <div class="container align-items-center mx-5">
                    <img src="./static/css/orange.svg" height="87" width="100" />
                    <p style="font-size:200%; font-weight: bold; margin-left: 3%;">Join OrangePages.</p>
                    <a class="btn btn-primary btn-block p-3 border" href='/login' role="button"
                        style="border-radius: 25px;">Login</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="page-footer font-small blue justify-content-center"
        style="background-color: white; border: outset; z-index:1000; position:relative; height:50px;">
        <div class="row h-100 align-items-center">
            <div class="col" style="text-align:center">
                <ul class="list">
                    <li>
                        <a href="#!" style="padding-right: 20px;">About</a>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> -->
    <!-- Footer -->

</body>

</html>