

<nav class="navbar navbar-fixed-top navbar-expand-sm bg-white main-nav">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
                <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
<!--     <div class="container justify-content-center">
        <ul class="nav navbar-nav flex-fill justify-content-start">
            <li class="nav-item active">
                <img 
    src="./static/css/orange.svg" 
    height="30"
    width="50" />
                <a class="navbar-brand" href="/">OrangePages</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-center">
            <li class="nav-item">
                <form action="/search" class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Search"><i class="fa fa-search"></i></button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">
                        <i class="fa fa-home"></i>
                        <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/profile/{{user.uid}}">
                        <i class="fa fa-user"></i>
                        <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/profile/{{user.uid}}/friends-list">
                        <i class="fa fa-heart"></i>
                        <span class="sr-only">(current)</span>
                </a>     
            </li> -->
<!--             {% if user is not none %}
            <li>
                <a class="nav-link" href="/notifications">
                        <i class="fa fa-bell"></i>
                         @frontend pwease make this pwetty
                        {% if user._unread_notifs > 0 %}
                            ({{user._unread_notifs}})
                        {% endif %}
                        <span class="sr-only">(current)</span>
                </a>     
            </li>
            {% endif %}
        </ul>
    </div>  -->
</nav>