
 <!-- Navigation -->
<nav class="navbar main-nav" style="background-color: white;">
  <button type="button" id="sidebarCollapse" class="btn" style="background-color: white; color: var(--new-orange); outline: none;">
          <i class="fas fa-align-left"></i>
  </button>
  <ul class="col-xs-6 navbar-nav mx-auto">
    <li class="navbar-search nav-item w-100">

        <form action="/search" class="navbar-form navbar-search" method="get">
            <div class="input-group">
                <input class="navbar-search form-control" type="text" name="query" placeholder="Search OrangePages" aria-label="Search">    
            </div>
        </form>
    </li> 
  </ul>
  <div class="col-xs-2">
  </div>
</nav>


