
{%if notifs|length == 0%}
<div class="card-body" style="text-align: center;">
    You have no notifications!
</div>

{% else %}
<div class="card-body" style="text-align: center">
    <button type="button" class="btn btn-primary tag-pill">
        <a href="/clear-notifs"> Clear All Notifications</a>
    </button>
</div>
<hr style="margin: 0px; border: 0.5px solid lightgray">

{%endif%}

{% for notif in notifs: %}
<!-- <a href='/notif/{{notif.nid}}' style="display:block;"> -->
<div class="card-body">

    <div class="row" onclick="window.location.href = '/notif/{{notif.nid}}';">

        <div class="col" style="margin-top: -5px">

            

                <span class="text-muted post-subtitle"><i class="fa fa-clock-o"></i>
                    <span id="tstamp{{notif.nid}}"></span>
                    <script type="text/javascript">
                      getTimeAgo("{{ notif.date }}", "tstamp{{notif.nid}}" );
                    </script>
                </span>

                {% if notif.unread %}
                <span class="badge badge-pill badge-danger">Unread</span>
                {% endif %}

                <br>
                <a href='/profile/{{ notif.sender_id() }}' class="post-title">
                    {{notif.sender_name()}}
                </a> <span class="post-text">{{notif.text}}</span>

        </div>
        <div class="col" style="-ms-flex: 0 0 40px; flex: 0 0 40px;">
            <form action="clear-notif/{{notif.nid}}" method="post">
                <button class="btn btn-sm btn-primary tag-pill"
                    type="submit">clear</button><br>
            </form>
            

        </div>

    </div>

</div>
<!-- </a> -->

<hr style="margin: 0px; border: 0.5px solid lightgray">
{% endfor %}

<script>
</script>
