<!DOCTYPE html>
<html lang="en">

<body>

  <head>
    <title>Orange Pages | Post</title>
    <meta name="viewport" content="width=device-width,
                    initial-scale=1">
    <!-- <meta http-equiv="refresh" content="20" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
      type="text/css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css" />
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/post.js"></script>
  </head>

  <!-- Everything goes in a wrapper -->
  <div class="wrapper">
    <div id="posts">

    {% include 'sidebar.html' %}

    <div id="content">
      {% include 'navbar.html' %}

      <div class="col" style="float: none;">
      
      <!-- Main content-->
      <div class="row ml-0 mr-0">

        <!-- Post results -->
        <div class="col">
          <div id="post">
          {% include 'post.html' %}
          </div>
        </div>

    </div>

  </div>
</div>

</body>

<body>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="/static/js/sidebar.js"></script>
  <script src="/static/js/tags.js"></script>
  <script src="/static/js/upload.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

  <script>
    document.getElementById('Home').className = 'active';
  </script>

  <script src="/static/js/disable-share.js"></script>

  <script type="text/javascript">
    $(function () {
      $('#create-post-form').submit(function () {
        $('#share', this)
          .attr('disabled', 'disabled');
        document.getElementById("share").innerHTML = "Sharing...";
        return true;
      });
    });
  </script>

  <script>
  var postid = '{{post.pid}}';
</script>
</body>

</html>
