<div class="post-card card" style="margin-bottom: 10px; border:none;">
    <div class="container-fluid">

      <div class="row">
        <!-- Profile photo -->
        <div class="col" style="padding-top: 10px; -ms-flex: 0 0 40px; flex: 0 0 40px;">
          {%if user._pic is none:%}
          <i class="fa fa-user feed-profile rounded-circle"></i>
          {%else:%}
          <a href='profile/{{ post.creator.uid }}'>
            <img class="feed-profile rounded-circle"
              src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{post.creator._pic}}.png'
              alt="failed to load">
            {%endif%}
          </a>
        </div>

            <!-- User and netid -->
            <div class="col" style="padding-top: 10px">
              <a href='profile/{{ post.creator.uid }}' class="post-title">{{post.creator.firstname}}
                {{post.creator.lastname}} <h6 class="post-subtitle"> @{{post.creator.uid}} </h6> </a>
            </div>

            <!-- Time elapsed -->
            <div class="col" style="padding-top: 10px; text-align: right; -ms-flex: 0 0 95px; flex: 0 0 95px;">
              <div class="post-subtitle">
                <i class="fas fa-clock"></i>
                <span id="tstamp{{post.pid}}"></span>
                <script type="text/javascript">
                  getTimeAgo("{{ post.date }}", "tstamp{{post.pid}}" );
                </script>
              </div>

            </div>
          </div>

          <!-- Content -->
          <div class="row">

            <div class="col" style="padding-top: 10px; -ms-flex: 0 0 78px; flex: 0 0 78px;"></div>
            <div class="col">
              <div class="post-text mb-1">
                {{post.content|safe}}
              </div>
              <a href={{post.get_img()}}><img src="{{post.get_img()}}" width="100%"></a>
              {% if post.tags|length %}
              {% for tag in post.tags: %}
              <button type="button" onclick="location.href='/search?query={{ tag.tid }}'"
                class="btn btn-primary btn-sm tag-pill text-truncate" style="outline: none">
                #{{ tag.tid }}
              </button>
              {% endfor %}
              {% endif %}
            </div>

          </div>

          <div class="row" style="padding-top: 3px; padding-bottom: 10px">
              <div class="col" style="padding-top: 10px; -ms-flex: 0 0 78px; flex: 0 0 78px;"></div>
            <div class="col" style="padding-bottom: 5px">

              {% if user.liked_post(post.pid) %}
              <a href='#' class="card-link" onclick="toggleLike('{{post.pid}}'); return false;">
                <i class="fas fa-heart"></i> {{post.likes|length}}
              </a>
              {% else %}
              <a href='#' class="card-link" onclick="toggleLike('{{post.pid}}'); return false;">
                <i class="far fa-heart"></i> {{post.likes|length}}
              </a>
              {% endif %}
            </div>
          </div>

          <!-- Comments -->
          {% for comment in post.get_comments() %}
          <div class="row mb-4">
            <div class="col-2">
              {%if comment.creator._pic is none:%}
                   <i class="fa fa-xs fa-user rounded-circle"></i>
                   {%else:%}
                   <a href='profile/{{ comment.creator.uid }}'></a>
                   <img class="feed-profile  rounded-circle" style="width:30px; height:30px;"
                    src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{comment.creator._pic}}.png'
                    alt="failed to load">
              {%endif%}
            </div>
            <div class="col-10" style="background-color: #f0f0f0; border-radius: 10px;">
              <a href='profile/{{ comment.creator.uid }}' class="post-title">{{comment.creator.firstname}}
                {{comment.creator.lastname}} </a>
                <i class="ml-2 post-subtitle fas fa-clock"></i>
                <span class="post-subtitle" id="tstamp{{comment.cid}}"></span>
                <script type="text/javascript">
                  getTimeAgo("{{ comment.date }}", "tstamp{{comment.cid}}" );
                </script>

                <br/>
                {{comment.content}}
            </div>
          </div>
          {% endfor %}

          <form id="comment{{post.pid}}">
            <div class="row" style="border-top: 1px solid #f0f0f0;">
              <div class="col-10 mt-2">
                <textarea name="content" class="form-control comment-textarea post-subtitle" rows="2" placeholder="Write a comment..."></textarea>
              </div>
              <div class="col-2 mt-2">
                <button type="submit" class="btn" style="background-color: white; color: var(--new-orange); outline: none;" onclick="postComment('{{post.pid}}'); return false;"><i class="fa fa-xs fa-comment"></i></button>
              </div>
            </div>
          </form>

    </div>
  </div>
