 <!-- Profile Details -->
                <div class="card" style="border-radius: 0px; padding: 20px; padding-top: 100px">

                    <!-- Profile picture -->
                    <div class="avatar">
                        <!-- Profile photo -->
                        {%if user._pic is none:%}
                        <i class="fa fa-user fa-5x rounded-circle"></i>
                        {%else:%}
                        <img class="rounded-circle"
                            src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{user._pic}}.png'
                            alt="failed to load">
                        {%endif%}
                    </div>

                    <div style="margin-top: 20px"></div>
                    <h2 class="fs-title" style="text-align: center">{{user.firstname}} {{user.lastname}}</h2>
                    <p style="text-align: center; margin-top: -15px; margin-bottom:0px">@{{user.uid}}</p>

                    <hr style="color: #f0f0f0;">

                    <div class="col">
                        <form id="msform" class="is-readonly" action="/edit-user" method="post"
                            enctype=multipart/form-data> <fieldset>
                            <div class="row">
                                <div class="col-lg-3 text-left">First Name:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="firstname"
                                        id="exampleInputPassword1" placeholder="First Name" value="{{user.firstname}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Last Name:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="lastname"
                                        id="exampleInputPassword1" placeholder="Last Name" value="{{user.lastname}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Email:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="email"
                                        id="exampleInputPassword1" placeholder="Email" value="{{user.email}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Class Year:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="year"
                                        id="exampleInputPassword1" placeholder="Class Year" value="{{user.year}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Major:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="major"
                                        id="exampleInputPassword1" placeholder="Major" value="{{user.major}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Res College:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="rescollege"
                                        id="exampleInputPassword1" placeholder="Residential College"
                                        value="{{user.rescollege}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">School:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="school"
                                        id="exampleInputPassword1" placeholder="AB or BSE" value="{{user.school}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Hometown:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="hometown"
                                        id="exampleInputPassword1" placeholder="Hometown" value="{{user.hometown}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">State:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="state"
                                        id="exampleInputPassword1" placeholder="State" value="{{user.state}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Country:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="country"
                                        id="exampleInputPassword1" placeholder="Country" value="{{user.country}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Room:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="room"
                                        id="exampleInputPassword1" placeholder="Room" value="{{user.room}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Building:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Building" value="{{user.building}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Food:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="food"
                                        id="exampleInputPassword1" placeholder="Food" value="{{user.food}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Team:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="team"
                                        id="exampleInputPassword1" placeholder="Team" value="{{user.team}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Activities:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="activities"
                                        id="exampleInputPassword1" placeholder="Activities" value="{{user.activities}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Certificate:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="certificate"
                                        id="exampleInputPassword1" placeholder="Certificate"
                                        value="{{user.certificate}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 text-left">Birthday:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="birthday"
                                        id="exampleInputPassword1" placeholder="Birthday" value="{{user.birthday}}"
                                        disabled>
                                </div>
                            </div>

                            <!-- @frontend -->
                            <div id="hide">
                                <hr>
                                <!-- Upload image input-->
                                <input id="upload" type="file" onchange="readURL(this);" name="image"
                                    class="form-control border-0" style="display:none">
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col" style="-ms-flex: 0 0 200px; flex: 0 0 200px;">
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                                    class="text-uppercase font-weight-bold text-muted">Choose
                                                    file</small></label>
                                        </div>
                                    </div>
                                    <div class="col" style="text-align: left">
                                        <label id="upload-label" for="upload"
                                            class="font-weight-light text-muted">Choose file</label>
                                    </div>
                                </div>

                                <!-- Uploaded image area-->
                                <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                        class="img-fluid rounded shadow-sm mx-auto d-block"></div>


                                <br>
                            </div>

                            <div class="row pt-2" style="justify-content: center">
                                <button type="button" onclick="toggle_save()" style="width: 100px"
                                    class="btn btn-primary tag-pill btn-edit js-edit">
                                    Edit
                                </button>
                                <button id="save" type="submit" class="btn btn-primary tag-pill btn-save js-save"
                                    style="display: none; margin-left: 5px; width: 100px">
                                    Save
                                </button>
                            </div>

                            </fieldset>
                        </form>
                    </div>
                </div>