
<h1> make a new user </h1>

<h3> theres prob a better way to make the form than this </h3>

<form action="create-user" method="post">
         <table>
            <tr>
               <td>First name: </td>
               <td>
                  <input type="text" name="firstname">
               </td>
            </tr>
            <tr>
               <td>Last name: </td>
               <td>
                  <input type="text" name="lastname">
               </td>
            </tr>
            <tr>
               <td>email: </td>
               <td>
                  <input type="text" name="email">
               </td>
            </tr>
            <tr>
               <td>hometown: </td>
               <td>
                  <input type="text" name="hometown">
               </td>
            </tr>
            <tr>
               <td>state: </td>
               <td>
                  <input type="text" name="state">
               </td>
            </tr>
            <tr>
               <td>country: </td>
               <td>
                  <input type="text" name="country">
               </td>
            </tr>
            <tr>
               <td>class year: </td>
               <td>
                  <input type="text" name="year">
               </td>
            </tr>
            <tr>
               <td>major: </td>
               <td>
                  <input type="text" name="major">
               </td>
            </tr>
            <tr>
               <td>room: </td>
               <td>
                  <input type="text" name="room">
               </td>
            </tr>
            <tr>
               <td>building: </td>
               <td>
                  <input type="text" name="building">
               </td>
            </tr>
            <tr>
               <td></td>
               <td><input type="submit" value="Submit"></td>
            </tr>
         </table>
      </form>