<!DOCTYPE html>
<html class="no-js" lang="en">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<body>

    <head>
        <title>{{lookup.firstname}} {{lookup.lastname}} - Orange Pages</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/css/feed.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/css/create-profile.css" type="text/css" />
    </head>

    {% include 'navbar.html' %}

    <script>
$(document).ready(function(){
  $('.js-edit, .js-save').on('click', function(){
    var $form = $(this).closest('form');
    $form.toggleClass('is-readonly is-editing');
    var isReadonly  = $form.hasClass('is-readonly');
    $form.find('input,textarea').prop('disabled', isReadonly);
  });
});
    </script>


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card mt-4 mb-4 ml-4">
                    <div class="card-body text-center">
                        {%if user._pic is none:%}
                        <i class="fa fa-user fa-5x"></i>
                        {%else:%}
                        <img src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_80,w_80,g_face,r_10/{{lookup._pic}}.png' alt="failed to load">
                        {%endif%}
                        <h3 class="card-title">{{lookup.firstname}} {{lookup.lastname}}</h3>
                        <p class="card-text">{{lookup.uid}}
                            <hr>
                        </p>
<!--                         <a class="nav-link" href="/edit-user">
                            <i class="fa fa-pencil"></i>
                            <span class="sr-only">(current)</span>
                            edit profile
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- <div class="card mt-4 mb-4 mr-4"> -->
                        <form id="msform" class="is-readonly" action="create-user" method="post">
            <fieldset>
                <h2 class="fs-title">Details About {{lookup.firstname}}</h2>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Email" value="{{lookup.email}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Class Year" value="{{lookup.year}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Major" value="{{lookup.major}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Hometown" value="{{lookup.hometown}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="State" value="{{lookup.state}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Country" value="{{lookup.country}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Room" value="{{lookup.room}}" disabled>
                <input type="text" class="form-control is-disabled" id="exampleInputPassword1" placeholder="Building" value="{{lookup.building}}" disabled>
                <button type="button" class="btn btn-default btn-edit js-edit">Edit</button>
                <button type="button" class="btn btn-default btn-save js-save">Save</button>
            </fieldset>
        </form>
                       <!--  <h5 class="card-title">Basic info</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>puid:</td>
                                    <td>{{lookup.uid}}</td>
                                </tr>
                                <tr>
                                    <td>email:</td>
                                    <td>{{lookup.email}}</td>
                                </tr>
                                <tr>
                                    <td>year:</td>
                                    <td>{{lookup.year}}</td>
                                </tr>
                                <tr>
                                    <td>major:</td>
                                    <td>{{lookup.major}}</td>
                                </tr>
                                <tr>
                                    <td>hometown:</td>
                                    <td>{{lookup.hometown}}</td>
                                </tr>
                                <tr>
                                    <td>state:</td>
                                    <td>{{lookup.state}}</td>
                                </tr>
                                <tr>
                                    <td>country:</td>
                                    <td>{{lookup.country}}</td>
                                </tr>
                                <tr>
                                    <td>room:</td>
                                    <td>{{lookup.room}}</td>
                                </tr>
                                <tr>
                                    <td>building:</td>
                                    <td>{{lookup.building}}</td>
                                </tr>
                            </tbody>
                        </table> -->
                   
<!-- 
                </div> -->
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</html>