<!DOCTYPE html>
<html class="no-js" lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>


<head>
    <title>{{user.firstname}} {{user.lastname}} - Orange Pages</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/feed.css" rel="stylesheet" />
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div id="user-box" class="card" style="width: 100%">
                    <div class="card-body text-center">
                      <!-- @frontend -->
                        <img src='{{lookup.get_img()}}' width=150 height=auto alt="failed to load">
                        <!-- {%if lookup._pic is none:%}
                        <i class="fa fa-user fa-5x"></i>
                        {%else:%}
                        <img src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{user._pic}}.png'
                            alt="failed to load">
                        {%endif%} -->
                        <br>
                        <br>
                        <h3 class="card-title"><strong>{{lookup.firstname}} {{lookup.lastname}}</strong></h3>
                        <p class="card-text">netid: {{lookup.uid}}</p>
                        {% if user.is_friend(lookup) %}

                        <form method="post" action="/profile/unfriend" class="inline">
                            <button type="submit" class="btn btn-primary"
                            name="content" value="{{ lookup.uid }}" class="link-button">
                                <span class="friends"><i class="fa fa-check"></i> Friends</span>
                                <span class="unfriend"><i class="fa fa-times"></i> Unfriend</span>
                            </button>
                        </form>

                        {% elif user.friend_requested(lookup) %}

                            <button type="submit" class="btn btn-primary"
                            name="content" value="{{ lookup.uid }}" class="link-button">
                                <i class="fa fa-check"></i> Friend Request Sent
                            </button>

                        {% elif lookup.friend_requested(user) %}
                            <form method="post" action="/profile/add-friend" class="inline">
                            <button type="submit" class="btn btn-primary"
                            name="content" value="{{ lookup.uid }}" class="link-button">
                                <i class="fa fa-plus"></i> Accept Friend Request
                            </button>
                        </form>

                        {% else %}

                        <form method="post" action="/profile/friend-request" class="inline">
                            <button type="submit" class="btn btn-primary"
                            name="content" value="{{ lookup.uid }}" class="link-button">
                                <i class="fa fa-plus"></i> Add Friend
                            </button>
                        </form>

                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <form id="msform" class="is-readonly">
                    <fieldset>
                        <h2 class="fs-title">Details About {{lookup.firstname}}</h2>
                        <div class="row">
                            <div class="col-lg-3 text-left">Email:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="email"
                                    id="exampleInputPassword1" placeholder="Email" value="{{lookup.email}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Class Year:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="year"
                                    id="exampleInputPassword1" placeholder="Class Year" value="{{lookup.year}}"
                                    disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Major:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="major"
                                    id="exampleInputPassword1" placeholder="Major" value="{{lookup.major}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Hometown:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="hometown"
                                    id="exampleInputPassword1" placeholder="Hometown" value="{{lookup.hometown}}"
                                    disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">State:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="state"
                                    id="exampleInputPassword1" placeholder="State" value="{{lookup.state}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Country:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="country"
                                    id="exampleInputPassword1" placeholder="Country" value="{{lookup.country}}"
                                    disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Room:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="room"
                                    id="exampleInputPassword1" placeholder="Room" value="{{lookup.room}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 text-left">Building:</div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control is-disabled" name="building"
                                    id="exampleInputPassword1" placeholder="Building" value="{{lookup.building}}"
                                    disabled>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>
