<!DOCTYPE html>
<html class="no-js" lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>


<head>
    <title>OrangePages | {{ lookup.firstname }} {{ lookup.lastname }}</title>
    <meta name="viewport" content="width=device-width,
                        initial-scale=1">
    <!-- <meta http-equiv="refresh" content="20" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
        type="text/css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="/static/css/feed.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/profile-user.css" type="text/css" />

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/feed.js"></script>
</head>

<body>

    <!-- Everything goes in a wrapper -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <!-- Main page -->
        <div id="content">
            {% include 'navbar.html' %}

            <div class="col">
            </div>

            <div class="col" style="width: 750px; float: none; margin: 0 auto; margin-bottom: 25px;
                margin-top: 25px">

                <!-- Profile Details -->
                <div class="card" style="border-radius: 0px; padding: 20px;">

                    <div class="row">

                        <div class="col-lg-3">
                            <!-- Profile picture -->
                            <div class="avatar" style="margin:0px">
                                <!-- Profile photo -->
                                {%if lookup._pic is none:%}
                                <i class="fa fa-user fa-5x rounded-circle"></i>
                                {%else:%}
                                <img class="rounded-circle"
                                    src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{lookup._pic}}.png'
                                    alt="failed to load">
                                {%endif%}
                            </div>

                        </div>

                        <div class="col-lg-9">
                            <div style="margin-top: 15px"></div>

                            <h2 class="fs-title" style="text-align: center">{{lookup.firstname}} {{lookup.lastname}}
                            </h2>
                            <p style="text-align: center; margin-top: -15px; margin-bottom: 2px">@{{lookup.uid}}</p>

                            {% if user.is_friend(lookup) %}

                            <form method="post" action="/profile/unfriend" class="inline">
                                <button type="submit" class="btn btn-primary tag-pill" name="content"
                                    value="{{ lookup.uid }}" class="link-button" style="width: 100%">
                                    <span class="friends"><i class="fa fa-check"></i> Friends</span>
                                    <span class="unfriend"><i class="fa fa-times"></i> Unfriend?</span>
                                </button>
                            </form>

                            {% elif user.friend_requested(lookup) %}

                            <button type="submit" class="btn btn-primary tag-pill" name="content"
                                value="{{ lookup.uid }}" class="link-button" style="width: 100%">
                                <i class="fa fa-check"></i> Friend Request Sent
                            </button>

                            {% elif lookup.friend_requested(user) %}
                            <form method="post" action="/profile/add-friend" class="inline">
                                <button type="submit" class="btn btn-primary tag-pill" name="content"
                                    value="{{ lookup.uid }}" class="link-button" style="width: 100%">
                                    <i class="fa fa-plus"></i> Accept Friend Request
                                </button>
                            </form>

                            {% else %}

                            <form method="post" action="/profile/friend-request" class="inline">
                                <button type="submit" class="btn btn-primary tag-pill" name="content"
                                    value="{{ lookup.uid }}" class="link-button" style="width: 100%">
                                    <i class="fa fa-plus"></i> Add Friend
                                </button>
                            </form>

                            {% endif %}

                        </div>

                    </div>
                    <hr style="color: #f0f0f0;">
                    <form id="msform" class="is-readonly">
                        <fieldset>

                            <div style="margin: 10px"> </div>

                            {% if lookup_priv["year"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Class Year:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="year"
                                        id="exampleInputPassword1" placeholder="Class Year"
                                        value="{{lookup_priv["year"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["school"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">School:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="school"
                                        id="exampleInputPassword1" placeholder="AB or BSE"
                                        value="{{lookup_priv["school"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["major"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Major:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="major"
                                        id="exampleInputPassword1" placeholder="Major" value="{{lookup_priv["major"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["rescollege"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Residential College:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="rescollege"
                                        id="exampleInputPassword1" placeholder="Residential College"
                                        value="{{lookup_priv["rescollege"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["pronoun"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Pronouns:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="pronoun"
                                        id="exampleInputPassword1" placeholder="Pronouns" value="{{lookup_priv["pronoun"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["hometown"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Hometown:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="hometown"
                                        id="exampleInputPassword1" placeholder="Hometown"
                                        value="{{lookup_priv["hometown"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["state"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">State:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="state"
                                        id="exampleInputPassword1" placeholder="State" value="{{lookup_priv["state"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["country"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Country:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="country"
                                        id="exampleInputPassword1" placeholder="Country"
                                        value="{{lookup_priv["country"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["room"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Room:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="room"
                                        id="exampleInputPassword1" placeholder="Room" value="{{lookup_priv["room"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["building"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Building:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Building"
                                        value="{{lookup_priv["building"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["food"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Food:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Food" value="{{lookup_priv["food"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["team"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Team:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Team" value="{{lookup_priv["team"]}}"
                                        disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["activities"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Activities:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Activities"
                                        value="{{lookup_priv["activities"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["certificate"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Certificate:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Certificate"
                                        value="{{lookup_priv["certificate"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["birthday"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Birthday:</div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control is-disabled" name="building"
                                        id="exampleInputPassword1" placeholder="Birthday"
                                        value="{{lookup_priv["birthday"]}}" disabled>
                                </div>
                            </div>
                            {% endif %}
                            {% if lookup_priv["building"] or lookup_priv["paa"] or
                            lookup_priv["sharepeer"] %}
                            <div class="row">
                                <div class="col-lg-3 text-left">Affiliations:</div>
                                <div class="col-lg-9">
                                    {% if lookup_priv["rca"] %}
                                        <div class="row profile-row">
                                        <div class="affils">{{lookup_priv["rca"]}}</div>
                                        </div>
                                    {% endif %}
                                    {% if lookup_priv["paa"] %}
                                        <div class="row profile-row">
                                        <div class="affils">{{lookup_priv["paa"]}}</div>
                                        </div>
                                    {% endif %}
                                    {% if lookup_priv["sharepeer"] %}
                                        <div class="row profile-row">
                                        <div class="affils">{{lookup_priv["sharepeer"]}}</div>
                                        </div>
                                    {% endif %}
                                    {% if not lookup_priv["rca"] and not lookup_priv["paa"] and not lookup_priv["sharepeer"] %}
                                        <div class="row profile-row">
                                        <div class="col-lg-2" style="color:#6c757d;">
                                          None
                                        </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </fieldset>
                    </form>

                </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>

    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="/static/js/sidebar.js"></script>

</body>

</html>
