<!DOCTYPE html>
<html lang="en">

<body>

  <head>
    <title>OrangePages | Search</title>
    <meta name="viewport" content="width=device-width,
                    initial-scale=1">
    <!-- <meta http-equiv="refresh" content="20" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/feed.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
      type="text/css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css" />
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/timestamp.js"></script>
  </head>

  <!-- Everything goes in a wrapper -->
  <div class="wrapper">

    {% include 'sidebar.html' %}

    <div id="content">
      {% include 'navbar.html' %}

      <div class="col" style="float: none; margin: 0 auto">

        <div class="row">
          <div class="post-subtitle" style="margin-top: 30px; margin-left: 30px">
            <text> Search results for "{{query}}". </text>
          </div>
        </div>

        <!-- Main content-->
        <div class="row ml-0 mr-0">

          <!-- Post results -->
          <div class="col">

            <div class="post-subtitle" style="margin-top: 30px;">
              <text> Found {{posts|length}} post{% if posts|length != 1:%}s{%endif%}. </text>
            </div>

            {% include 'feed_posts.html' %}
          </div>

          <!-- Student results -->
          <div class="col">

            <div class="post-subtitle" style="margin-top: 30px;">
              <text> Found {{user_preview_list|length}}
                student{% if user_preview_list|length != 1:%}s{%endif%}. </text>
            </div>

            {% for lookup in user_preview_list: %}
            <div class="post-card card" style="margin-bottom: 10px; border:none;">
              <div class="container-fluid">
                <div class="row" style="padding-bottom: 10px;">
                  <!-- Profile photo -->
                  <div class="col" style="padding-top: 10px; -ms-flex: 0 0 40px; flex: 0 0 40px;">
                    {%if lookup._pic is none:%}
                    <i class="fa fa-user feed-profile rounded-circle"></i>
                    {%else:%}
                    <a href='profile/{{ lookup.uid }}'>
                      <img class="feed-profile rounded-circle"
                        src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_120,w_120,g_face,r_10/{{lookup._pic}}.png'
                        alt="failed to load">
                      {%endif%}
                    </a>
                  </div>

                  <!-- User and netid -->
                  <div class="col" style="padding-top: 10px;">
                    <a href='profile/{{ lookup.uid }}' class="post-title">{{lookup.firstname}}
                      {{lookup.lastname}} {% if lookup.year != '' %}'{{lookup.year}}{% endif %} <h6
                        class="post-subtitle"> @{{lookup.uid}} </h6> </a>
                  </div>
                </div>

                {% if lookup.uid != user.uid %}
                {% if user.is_friend(lookup) %}
                <form method="post" action="/profile/unfriend" class="inline">
                  <button type="submit" class="btn btn-primary tag-pill" name="content" value="{{ lookup.uid }}"
                    class="link-button" style="width: 100%">
                    <span class="friends"><i class="fa fa-check"></i> Friends</span>
                    <span class="unfriend"><i class="fa fa-times"></i> Unfriend?</span>
                  </button>
                </form>

                {% elif user.friend_requested(lookup) %}

                <button type="submit" class="btn btn-primary tag-pill" name="content" value="{{ lookup.uid }}"
                  class="link-button" style="width: 100%">
                  <i class="fa fa-check"></i> Friend Request Sent
                </button>

                {% elif lookup.friend_requested(user) %}
                <form method="post" action="/profile/add-friend" class="inline">
                  <button type="submit" class="btn btn-primary tag-pill" name="content" value="{{ lookup.uid }}"
                    class="link-button" style="width: 100%">
                    <i class="fa fa-plus"></i> Accept Friend Request
                  </button>
                </form>

                {% else %}

                <form method="post" action="/profile/friend-request" class="inline">
                  <button type="submit" class="btn btn-primary tag-pill" name="content" value="{{ lookup.uid }}"
                    class="link-button" style="width: 100%">
                    <i class="fa fa-plus"></i> Add Friend
                  </button>
                </form>

                {% endif %}
                {% endif %}

              </div>
            </div>

            {% endfor %}




          </div>

        </div>

</body>

<body>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="/static/js/sidebar.js"></script>
  <script src="/static/js/tags.js"></script>
  <script src="/static/js/upload.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

  <script>
    var loadFile = function (event) {
      var image = document.getElementById('imageResult');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

  <script>
    document.getElementById('Home').className = 'active';
  </script>

  <script src="/static/js/disable-share.js"></script>

  <script type="text/javascript">
    $(function () {
      $('#create-post-form').submit(function () {
        $('#share', this)
          .attr('disabled', 'disabled');
        document.getElementById("share").innerHTML = "Sharing...";
        return true;
      });
    });
  </script>

</body>

</html>