<!DOCTYPE html>
<html class="no-js" lang="en">

<body>

    <head>
        <title>Orange Pages Search</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/feed.css" type="text/css" />
    </head>

    <!-- Navbar-->
    {% include 'navbar.html' %}

        <!-- Count -->
        <div class="num-students">
            <div class="count">
                <p style="color:antiquewhite"> Found {{count}} student{% if count != 1:%}s{%endif%}. </p>
            </div>
        </div>
    
     <!-- View posts -->
     <div class="user container">
        <div class="card gedf-card">
            {% for user in user_preview_list: %}
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        {% if user._pic is none: %}
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                        </div>
                        {% else: %}
                        <div class="mr-2">
                            <img class="rounded-circle" width="45"
                                src='https://res.cloudinary.com/hcfgcbhqf/image/upload/c_fill,h_80,w_80,g_face,r_10/{{user._pic}}.png'
                                alt="failed to load">
                        </div>
                        {% endif %}
                        <div class="ml-2">
                            <a class="h5 m-0" href="/profile/{{user.uid}}"> {{user.firstname}}
                                {{user.lastname}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 
    {% include 'footer.html' %}
    
</html>