<!DOCTYPE html>
<html lang="en">

<head>
    <title>Orange Pages | Settings and Privacy</title>
    <meta name="viewport" content="width=device-width,
                                    initial-scale=1">
    <!-- <meta http-equiv="refresh" content="20" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"
        type="text/css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/feed.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-edit').on('click', function () {
                var $form = $(this).closest('form');
                $form.toggleClass('is-readonly is-editing');
                var isReadonly = $form.hasClass('is-readonly');
                $form.find('input,select,textarea').prop('disabled', isReadonly);
            });
        });
    </script>

</head>


<body>

    <!-- Everything goes in a wrapper -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <!-- Main page -->
        <div id="content">
            {% include 'navbar.html' %}

            <div class="col">
            </div>


            <div class="col" style="width: 750px; float: none; margin: 0 auto; margin-bottom: 25px;
            margin-top: 25px">


        <!-- Main page -->
        <div class="card" style="margin-top:15px; border-radius: 0px; padding: 20px" id="main">

            <form class="is-readonly" action="/settings" method="post" enctype=multipart/form-data>
                <fieldset>
                <h2 class="fs-title" style="font-size: 30px; text-align: center;
                padding-top: 5px">Profile Privacy</h2>

                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">First Name:</div>
                    <div class="col-lg-6 text-left">{{user.firstname}}</div>
                    <div class="col-lg-3">
                        <select name="firstname" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['firstname'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['firstname'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['firstname'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Last Name:</div>
                    <div class="col-lg-6 text-left">{{user.lastname}}</div>
                    <div class="col-lg-3">
                        <select name="lastname" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['lastname'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['lastname'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['lastname'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Email:</div>
                    <div class="col-lg-6 text-left">{{user.email}}</div>
                    <div class="col-lg-3">
                        <select name="email" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['email'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['email'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['email'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Class Year:</div>
                    <div class="col-lg-6 text-left">{{user.year}}</div>
                    <div class="col-lg-3">
                        <select name="year" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['year'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['year'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['year'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Major:</div>
                    <div class="col-lg-6 text-left">{{user.major}}</div>
                    <div class="col-lg-3">
                        <select name="major" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['major'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['major'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['major'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Hometown:</div>
                    <div class="col-lg-6 text-left">{{user.hometown}}</div>
                    <div class="col-lg-3">
                        <select name="hometown" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['hometown'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['hometown'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['hometown'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">State:</div>
                    <div class="col-lg-6 text-left">{{user.state}}</div>
                    <div class="col-lg-3">
                        <select name="state" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['state'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['state'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['state'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Country:</div>
                    <div class="col-lg-6 text-left">{{user.country}}</div>
                    <div class="col-lg-3">
                        <select name="country" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['country'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['country'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['country'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Room:</div>
                    <div class="col-lg-6 text-left">{{user.room}}</div>
                    <div class="col-lg-3">
                        <select name="room" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['room'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['room'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['room'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-lg-3 text-left">Building:</div>
                    <div class="col-lg-6 text-left">{{user.building}}</div>
                    <div class="col-lg-3">
                        <select name="building" class="form-control is-disabled" disabled>
                            <option {% if cur_privacy['building'] == 'Public' %} selected {% endif %}>Public</option>
                            <option {% if cur_privacy['building'] == 'Friends' %} selected {% endif %}>Friends</option>
                            <option {% if cur_privacy['building'] == 'Just me' %} selected {% endif %}>Just me</option>
                        </select>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-lg-9 text-right">
                        <button type="button" class="btn btn-primary tag-pill btn-edit js-edit">
                            Edit
                        </button>
                        <button type="submit" class="btn btn-primary tag-pill btn-save js-save">
                            Save
                        </button>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>

        <div class="col"></div>
        </div>
    </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

</body>

</html>