.make-post {
	max-width: 80%;
	background-color: lightgrey;
	margin-top: 10px;
}

.post {
	max-width: 80%;
	background-color: lightgrey;
	margin-top: 20px;
}

.user {
	max-width: 80%;
	background-color: lightgrey;
	margin-top: 20px;
}

.num-students {
	margin: auto;
	max-width: 80%;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.count {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
}