html {
  position: relative !important;
  min-height: 100% !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 105px;
}

.footer {
	background: var(--new-orange);
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    max-width: 300px;
    font-size: 13px;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-left: 0;
  margin-top: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}