/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: raleway !important;
    position: relative !important;
    min-height: 100% !important;
    background-color: #fdfdfd;
    /*background-image: url("https://i.imgur.com/iSUEg3V.jpg");*/
}

body {
    font-family: raleway !important;
    background: transparent;
    position: relative !important;
    min-height: 100% !important;
}

form {
  &.is-readonly {
    .btn-save {
      display: none;
    }
    input,textarea, select{
      &[disabled] {
        cursor: text;
        background-color: white !important;
        border-color: transparent;
        outline-color: transparent;
        box-shadow: none;
      }
    }
  }
  &.is-editing {
    .btn-edit{
      display: none;
    }
  }
}

/* Nprogress Bar */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--new-orange);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Profile page */
.profile-form {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff9c5a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(217, 87, 0, 0.25); }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent !important;
    border: none !important;
    opacity: 1; }

.profile-form-title {

}

.ui-autocomplete {
    position: fixed;
    z-index: 1001 !important;
    cursor: default;
    padding: 0;
    top: 50px !important;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  height: 30px;
  padding: 3px 20px;
  width: 500px;
}

.ui-autocomplete > li > a {
  position: fixed;
  width: 100%;
} 

.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}

.ui-autocomplete > li:hover {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}

.comment-textarea {
  border: 0px !important;
}

.comment-textarea:focus,.comment-textarea:active {
  outline: 0px !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

/*
    Sidebar
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {/*
    font-family: 'Poppins', sans-serif;*/
    background: #f9f9f9;
}

p {/*
    font-family: 'Poppins', sans-serif;*/
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--new-orange);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--sec-orange);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--sec-orange);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--new-orange);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--sec-orange);
}

#dismiss {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    line-height: 35px;
    text-align: center;
    background: var(--new-orange);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logout {
  color: var(--new-orange);
  background-color: white;
  width: 200px;
  font-weight: bold;
}

#dismiss:hover {
    background: #fff;
    color: var(--new-orange);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--sec-orange);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--new-orange);
}

a.article,
a.article:hover {
    background: var(--sec-orange) !important;
    color: #fff !important;
}

/*  profile styles */
/*headings*/
.profile-title {
    font-size: 30px !important;
    margin-top: -15px !important;
  /*  text-transform: uppercase;*/
    color: black !important;
    margin-bottom: 10px !important;
    /* font-family: 'Poppins', sans-serif; */

}

.profile-label {
  margin-top: 8px;
  font-weight: bold;
  color: var(--new-orange);
}

.profile-row {
  /*border-bottom: solid 1px lightgrey;*/
  margin-bottom: 5px;
}
.profile-tab {
   background-image: linear-gradient(to bottom right, #f58e31, #f5672c);
   border-top: 2px solid white !important;
   border-left: 2px solid white !important;
   border-right: 2px solid white !important;
   border-top-left-radius: 10px !important;
   border-top-right-radius: 10px !important;
   color:white;
}
.profile-tab:hover {
   background-image: none;
   background-color: white;
   border-top: 2px solid white !important;
   border-left: 2px solid white !important;
   border-right: 2px solid white !important;
   border-top-left-radius: 10px !important;
   border-top-right-radius: 10px !important;
   color: var(--new-orange);
}
.profile-active {
   background-image: none;
   background-color: #f0f0f0;
   border:none !important;
   border-top-left-radius: 10px !important;
   border-top-right-radius: 10px !important;
   color: var(--new-orange);
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 600px){
    #content {
        min-width: 100%;
    }
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    .sidebarCollapse span {
        display: none;
    }
}

/* post styling */
.post-card {
}

.post-title {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.post-subtitle {
  color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.post-text {
  font-family: 'Poppins', sans-serif;
 /* margin-top: 5px;*/
}

.post-btn {
  font-weight: bold !important;
  font-size: 16px !important;
  color:(--new-orange) !important;
}

.post-btn:hover {
  font-weight: bold;
  font-size: 16px;
  color: grey !important;
}

.post-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0; }
  .post-file-input:focus ~ .post-file-label {
    border-color: #ff9c5a;
    box-shadow: 0 0 0 0.2rem rgba(217, 87, 0, 0.25); }
  .post-file-input:disabled ~ .post-file-label {
    background-color: #e9ecef; }
  .post-file-input ~ .post-file-label[data-browse]::after {
    content: attr(data-browse); }

.post-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border-radius: 0.25rem; }
  .post-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0; }

.post-title:hover {
  color: var(--new-orange) !important;
  text-decoration-line: none !important;
}

.feed-profile {
  width: 50px;
  height: 50px;
}

/* orange radio buttons */
/* Customize the label (the container) */
.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-wrapper:hover input ~ .custom-radio {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-wrapper input:checked ~ .custom-radio {
  background-image: url(orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio-wrapper input:checked ~ .custom-radio:after {
  display: block;
}

/*sidebar styles*/
#sticky-sidebar {
  position:fixed;
  max-width: 20%;
  background-color: white;
  min-height: 100%;
}

#sidebar-buttons {
  margin-top:30%;
  font-family: 'Poppins', sans-serif;
}

.btn-sidebar {
  background-color: transparent !important;
  color: white !important
}

.btn-sidebar:hover {
  color: var(--new-orange)!important;
  background-color: white !important;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 5px;
}

#user-box {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 30px;
    width: 80%;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*Inputs*/
#msform input, #msform textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus, #msform select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: var(--new-orange);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 40px;
    margin: -15px;
  /*  text-transform: uppercase;*/
    color: var(--new-orange);
    margin-bottom: 10px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    margin-left: 28%;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    width: 20%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ff8f00;
    color: white;
}

.jumbotron {
  background-color: #ffffff !important;
  border-top: 3px solid #dbdbdb; }

.btn-primary {
  background-image: linear-gradient(to bottom right, #f58e31, #f5672c);
}
