// Variable Overrides

$body-bg: orange;

$theme-colors: (
    "primary": #d95700
);

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

// Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";